<form style="padding-right: 5%; padding-left: 5%;">
  <div class="card"
    style="width: 100%; margin-top: 2rem; background-color: #edf2f6; border-radius: 10px; height: 70em;">
    <div class="card-header"><b>Mantenimiento de usuario</b></div>
    <div class="card mb-4 mt-4">
      <ul class="nav">
        <button type="button" class="btn-toolbar" (click)="return()">
          <a class="nav-link text-toolbar">
            <span>
              <svg width="20" height="17" viewBox="0 0 14 14" fill="none">
                <path
                  d="M11.6667 1H2.33333C1.59695 1 1 1.59695 1 2.33333V11.6667C1 12.403 1.59695 13 2.33333 13H11.6667C12.403 13 13 12.403 13 11.6667V2.33333C13 1.59695 12.403 1 11.6667 1Z"
                  stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M1 5H13" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M5 13V5" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
            Volver
          </a>
        </button>
      </ul>
    </div>

    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <th>DNI</th>
          <th>Nombre Completo</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Email</th>
          <th>Estado</th>
          <th>Opciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of inspectionList">
            <td>{{item.documentNumber}}</td>
            <td>{{item.name}} {{item.fathersLastName}} {{item.mothersLastName}}</td>
            <td>{{item.address}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.email}}</td>
            <td>
              <svg *ngIf="item.active" xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="green"
                fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path
                  d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                <path
                  d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
              </svg>
              <svg *ngIf="!item.active" xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="red"
                fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
              </svg>
            </td>
            <td>
              <button class="btn btn-outline-primary me-2 mb-1" (click)="openUpdate(item.documentNumber)"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
              </button>
              <button class="btn btn-outline-danger me-2 mb-1" (click)="confirmDelete(item.documentNumber)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                  viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>